{% extends "index.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'lib/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>

<div class="well">
    <h4>Welcome to Simso Experiment Database.</h4>
    This page will help you to get started.
</div>

<div class="panel panel-primary">
	<div class="well well-sm" 
		data-toggle="collapse"
		style="margin-bottom: 0px; cursor: pointer;"
		data-target="#collapse1">
        <h4>What is Simso Experiment Database ?</h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in" style="margin: 1em;">

        <div class="">
            <h4 class="blue">
                What is Simso Experiment Database ?
            </h4>
            <p align="justify">
                Simso Experiment Database is an open source platform for sharing experiments made with Simso.
                It provides a collection of Test Sets and Schedulers that can be used to make experiments with Simso.
                A Test Set is a set of many Simso Configuration files which are used to analyse the behavior of a scheduler
                a lot of different scenarios.
                All these features are designed to help researchers working on Scheduling algorithms to be able to reproduce 
                other people's experiments.
            </p>
            <h4 class="blue">
                What can I do with Simso Experiment Database ?
            </h4>
            <p align="justify">
                The platform is composed of 2 main services :
                <div class="well well-sm">
                    <h5 class="blue">A simple yet powerful python API that helps you :</h5>
                    <ul>
                        <li>
                            Run simulations using schedulers and test sets in the Database.
                        </li>
                        <li>
                            Upload your own test sets 
                            <div class="alert alert-warning alert-sm">
                                Note : Test Sets are validated manually by the Database maintainers.
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="well well-sm">
                    <h5 class="blue">A Web Service (this website) which helps you :</h5>
                    <ul>
                        <li>
                            Upload your own scheduler.
                            <div class="alert alert-warning alert-sm">
                                Note : Schedulers are validated manually by the Database maintainers.
                            </div>
                        </li>
                        <li>
                            View the other users contributions : Schedulers, Test Sets, Experiment results...
                        </li>
                    </ul>
                </div>
            </p>
        </div>
    </div>
</div>

<div class="panel panel-primary">
	<div class="well well-sm" 
		data-toggle="collapse"
		style="margin-bottom: 0px; cursor: pointer;"
		data-target="#collapse2">
        <h4>Getting started with the API</h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in" style="margin: 1em;">
        <!-- Requirements -->
        <h4 class="blue">
            System requirements
        </h4>
        <p>
            The following components are required in order to run the API : 
            <ul>
                <li><a href="https://www.python.org/downloads/">Python 3.x</a></li>
                <li><a href="http://projects.laas.fr/simso/doc/introduction.html">Simso</a></li>
            </ul>
            
            <div class="alert alert-warning">
                You need to install simso for python 3 !<br />
                You can do this using this command : sudo pip3 install simso<br />
                
                If you don't have pip3 installed, type : sudo apt-get install python3-pip
            </div>
        </p>
        <h4 class="blue">
            Installing the API.
        </h4>
        <p>
            TODO
        </p>
        <!-- Connecting to the database -->
        <h4 class="blue">
            Connecting to the database.
        </h4>
        <div readonly class="editor" id="editor1" style="height: 8em">from simsoexp.simsodb import SimsoDatabase, Experiment
from simso.configuration import Configuration

# First way : you'll be prompted credentials in command line.
db = SimsoDatabase("{{ domain }}")
# Second way : provide your credentials
db = SimsoDatabase("{{ domain }}", "username", "password")</div>


        <!-- Running an experiment with local configuration. -->
        <h4 class="blue">
            Running an experiment with a custom configuration.
        </h4>
        <p>
            This example shows how to run an experiment using local Simso Configuration files.
            Here, the files are read from disk, but you can create Simso Configuration files manually or
            with a generator 
            (see <a href="http://projects.laas.fr/simso/doc/text_mode.html#creating-a-configuration-from-scratch">Creating a configuration from scratch</a>).
            
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-warning-sign"></span> 
                You cannot upload an experiment to the Database when you used a custom test set.
                You must upload the test set first, and wait for the Database maintainers to validate it.
            </div>
        </p>
        <div readonly class="editor" id="editor2" style="height: 28em">from simsoexp.simsodb import SimsoDatabase, Experiment
from simso.configuration import Configuration
db = SimsoDatabase("{{ domain }}", "username", "password")

# 1. Get a scheduler.
scheduler = db.scheduler_by_name("simso.schedulers.EDF")

# 2. Create configuration files
files = ["test/test.xml", "test/configuration.xml"]
config = [Configuration(f) for f in files]

# 3. Create an experiment.
e = Experiment(db, config, scheduler)

# 4. Run the experiment
e.run()

# In this case : you cannot upload the experiment.
# e.upload() => error

# Get the metrics 
print(repr(e.metrics))

# Get the simulation results
print(repr(e.results))</div>

        <!-- remote conf -->
        <h4 class="blue">
            Running an experiment with a remote configuration.
        </h4>
        <p>
            This example shows how to run an experiment using remote Simso Configuration files.
            After running the experiment, you can upload it to the Database.
            
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-warning-sign"></span>
                Only the most relevant metrics will be sent to the database. 
                The full experiment results trace won't be uploaded.
                However, the experiment can easily be reproduced to get the same results.
            </div>
        </p>
        <div readonly class="editor" id="editor3" style="height: 21em">from simsoexp.simsodb import SimsoDatabase, Experiment
db = SimsoDatabase("{{ domain }}", "username", "password")

# 1. Get a scheduler.
scheduler = db.scheduler_by_name("superman.schedulers.EDF")

# 2. Get a testset (here we browse testsets by category).
categories = db.categories()
testsets = db.testsets(categories[0])
testset = testsets[0]

# 3. Create an experiment.
e = Experiment(db, testset, scheduler)

# 4. Run the experiment.
e.run()

# [Optional] Uploads the experiment results to the database
e.upload()</div>
        <!-- remote conf -->
        <h4 class="blue">
            Uploading a Test Set.
        </h4>
        <p>
            This example shows how to upload a Test Set.
            
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-warning-sign"></span>
                The categories you choose for the test set must already exist in the Database.
                (unless you are an database Administrator)
            </div>
        </p>
        
        <div readonly class="editor" id="editor4" style="height: 17em">from simsoexp.simsodb import SimsoDatabase, Experiment
from simso.configuration import Configuration
db = SimsoDatabase("{{ domain }}", "username", "password")

# 1. Define test meta data
test_name = "sample"
categories = ["sample_category"]
description = "description"

# 2. Create test configuration files.
files = ["test/test.xml", "test/configuration.xml"]
confs = [Configuration(f) for f in files]

# 3. Upload the test set.
db.upload_testset(test_name, description, categories, confs)</div>



    <!-- END -->
        <h4 class="blue">
            Getting experiment results.
        </h4>
        <p>
            This example demonstrates how to retrieve experiment results from the database.
        </p>
        <div readonly class="editor" id="editor5" style="height: 15em">from simsoexp.simsodb import SimsoDatabase, Experiment
db = SimsoDatabase("{{ domain }}", "username", "password")

# 1. Get a scheduler
scheduler = db.scheduler_by_name("superman.schedulers.EDF")
            
# 2. Get a testset
testset = db.testset_by_name("simso.testsets.sample_testset")

# 3. Get the results
res = db.results(testset, scheduler)

print(repr(res))</div>

        <h4 class="blue">
            Pushing testsets from a database to another.
        </h4>
        <p>
            You may happen to use your <b>own Simso Experiment Database</b> in order to work faster.
            In this case, you might want to upload your testsets to another database (say the Central database).<br />
            The following example shows you how to proceed.
        </p>
        <div readonly class="editor" id="editor6" style="height: 10em">from simsoexp.simsodb import SimsoDatabase
db_src = SimsoDatabase("http://myowndatabase.com/", "username", "password")
db_dst = SimsoDatabase("{{ domain }}", "username", "password")

# 1. Get a testset from the source database.
testset = db_src.testset_by_name("simso.testsets.sample_testset")
# 2. Push it to the destination database.
testset.push(db_dst)</div>
    </div>
</div>

<script>
    
for(var i = 1; i <= 6; i++) {
    var editor = ace.edit("editor" + i);
    editor.setReadOnly(true);
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/python");
}

</script>

{% endblock %}