{% extends "index.html" %}


{% block content %}

{% load staticfiles %}
<script src="{% static 'ace.js' %}" type="text/javascript" charset="utf-8"></script>
<div class="well">
    <h4>Contribution</h4>
    Here you can see all your contributions.<br />
</div>

<div class="panel panel-primary">
	<div class="well" 
		data-toggle="collapse"
		style="margin-bottom: 0px; cursor: pointer;"
		data-target="#collapseSchedulers"><b>Schedulers</b></div>
	<div id="collapseSchedulers" class="panel-collapse collapse in" style="margin: 1em">
        <!-- Schedulers -->
        {% for sched in scheds|dictsort:"approved" %}

        <div class="panel panel-primary" id="panel{{sched.id}}">
        	<div class="well well-sm" 
        		data-toggle="collapse"
        		style="margin-bottom: 0px; cursor: pointer;"
        		data-target="#collapse{{ sched.id }}">
                {% if sched.approved %}
                <span class="glyphicon glyphicon-ok"></span>
                
                {% else %}
                <button 
                    data-toggle="tooltip" data-placement="top" title="Deletes this non-validated scheduler."
                    class="btn btn-danger" id="remove{{sched.id}}"><span class="glyphicon glyphicon-remove"></span></button>
                
                {% endif %}
                <b>{{sched.name}}</b>
            </div>
            
              
        	<div id="collapse{{ sched.id }}" class="panel-collapse collapse">
                <br />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Class name :  </label>
                        <div class="col-sm-4">
                            <input disabled class="form-control" type="text" value="{{sched.class_name}}"></input>
                        </div>
                    </div>
                    <div class="editor" id="editor{{ sched.id }}" style="height: 400px">{% autoescape on %}{{ sched.code }}{% endautoescape %}
                    </div>
                    <script>
                        var editor = ace.edit("editor{{sched.id}}");
                        editor.setTheme("ace/theme/chrome");
                        editor.getSession().setMode("ace/mode/python");
                        $("#remove{{sched.id}}").click(function(e) {
                            e.stopPropagation();
                            $.get("{% url 'simsoexp.views.scheduler_validation_action' %}", {
                                    'action' : 'delete',
                                    'id' : '{{sched.id}}'
                            }, function(data) {
                                if(data == "success")
                                    $("#panel{{sched.id}}").fadeOut(100);
                            
                            });
                        });
                    </script>
                </div>
                    
        	</div>
        </div>
    
            
        {% empty %}
            <p>No item to display.</p>
        {% endfor %}
                
        <!-- End schedulers -->
	</div>
</div>

    
    
    
<script>
    $(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% endblock %}

