{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	<script src="{% static 'lib/jquery.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/fileinput.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-switch.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<script src="{% static 'lib/fileinput.min.js' %}"></script>
	<script src="{% static 'lib/bootstrap-switch.min.js' %}"></script>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'simsoexp.views.index' %}">Simso Experiment Database</a>
			</div>
			
			<ul class="nav navbar-nav">

			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% static 'doc/index.html' %}">API Reference</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" 
						data-toggle="dropdown" role="button" 
						aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-globe"></span> Contributions <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
  						<li class="dropdown-header"><span class="glyphicon glyphicon-upload"></span> Upload</li>
						<li><a href="{% url 'simsoexp.views.scheduler_upload_form' %}">Scheduler</a></li>
						
  						<li class="dropdown-header"><span class="glyphicon glyphicon-briefcase"></span> View</li>
						<li><a href="{% url 'simsoexp.views.contributions' %}?type=scheduler"> Schedulers</a></li>
						<li><a href="{% url 'simsoexp.views.contributions' %}?type=testset"> Testsets</a></li>
						<li><a href="{% url 'simsoexp.views.contributions' %}?type=results"> Experiment Results</a></li>
					</ul>
				</li>
				
				{% if user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" 
						data-toggle="dropdown" role="button" 
						aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-home"></span> {{user.username}} 
						<span class="badge badge-custom" id="notifications_badge"></span>
						<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">

						<li>
							<a href="{% url 'simsoexp.views.notifications' %}">
							<span class="glyphicon glyphicon-bell"></span> Notifications 
							<span class="badge badge-custom" id="notifications_badge"></span></a>
						</li>
						
						{% if user.is_staff %}
						<li>
							<a href="{% url 'simsoexp.views.categories' %}">
								<span class="glyphicon glyphicon-folder-open"></span>  Manage categories
							</a>
						</li>
						
						{% endif %}
						  

  						<li role="separator" class="divider"></li>
						
						{% if user.is_superuser %}
							<li>
								<a href="{% url 'admin:index' %}">
									<span class="glyphicon glyphicon-user"></span> <b>Administration</b>
								</a>
							</li>
						{% endif %}						
						<li><a href="{% url 'simsoexp.views.account_settings' %}"><span class="glyphicon glyphicon-cog"></span> Account Settings</a>
						<li><a href="{% url 'simsoexp.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						
					</ul>
				</li>
				{% endif %}
				
				<li><a href="#" onclick="$('#aboutModal').modal('show');">About</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<div class="container">
		<p class="footer">
			Copyright © 2015 CNRS-LAAS
		</p>
	</div>
	<script>
		$.get("{% url 'simsoexp.views.unread_notifications_count' %}", function(data) {
			var value = parseInt(data);
			if(value > 0) {
				$(".badge-custom").css("display", "inline");
				$(".badge-custom").text(value);
			}
		});
	</script>
	{% include 'about.html' %}
</body>