body {
	background-color: #F0F0F0;
}


.alert-sm {
	height: 2.4em;
	padding-top: 5px;
	margin: 0px;
}
.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-ms-animation: spin .7s infinite linear;
	-webkit-animation: spinw .7s infinite linear;
	-moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg);}
}
.editor {
    border-radius: 10px; border: 2px solid #A0A0FF;
	margin: 1em;
}